input#datetime-picker {
  border-radius: 4px;
  border: 1px solid #808080;
  width: 272px;
  background-color: #fff;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

  padding: 8px 16px;

  margin-bottom: 32px;
  outline: none;

  &:hover {
    border-color: #000000;
  }

  &:focus-visible,
  &:active {
    border-color: #4e75ff;
  }

  &:disabled {
    color: #808080;
  }
}
input#datetime-picker ~ button {
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 75px;
  min-height: 40px;
  margin: 0;
  border: none;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background-color: #4e75ff;
  color: #fff;

  &:hover {
    background-color: #6c8cff;
  }

  &:disabled {
    background-color: #cfcfcf;
    color: #989898;
  }
}
.timer {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.field {
  display: flex;
  flex-direction: column;
}
.value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-transform: uppercase;
}

.flatpickr-day.today {
  border-color: #4e75ff !important;
}

.flatpickr-day:hover {
  background-color: #c1c1c1 !important;
}

.flatpickr-day.selected {
  background-color: #4e75ff !important;
}
